@import "../../../styles.scss";
@import "../../../mixins.scss";

section.header {
  width: 100%;

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // max-height: 4.5rem;
    padding: 0 1rem;

    .logo {
      img {
        width: 4.375rem;
        aspect-ratio: 1 / 1;
      }
    }

    .profile-box {
      width: 40%;
    }
  }
}
