<section>
  <div class="headline">
    <h2>Channels erzeugen</h2>
    <button
      class="close-addchannel"
      popovertarget="addchannel"
      popovertargetaction="hide"
    ></button>
  </div>
  <div>
    <p>
      Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
      themenbezogen sein #marketing zum Beispiel.
    </p>
  </div>
  <div><h3>Channel-Name</h3></div>
  <input
    [(ngModel)]="name"
    type="text"
    placeholder="# z.B. Kooperationsprojekte"
  />
  <div>
    <h3>Beschreibung <span>(optional)</span></h3>
  </div>
  <input [(ngModel)]="description" type="text" placeholder="Dein Text hier" />
  <div style="justify-content: end">
    <button (click)="addNewChannel()">Erstellen</button>
  </div>
</section>
