<main id="popover-member-profile" popover>
  <div class="profile-details">
    <div class="top">
      <span class="modal-title">Profil</span>
      <button
        class="icon-box"
        popovertargetaction="hide"
        popovertarget="popover-member-profile"
      >
        <img src="./assets/icons/chat/general/close.svg" alt="Close" />
      </button>
    </div>

    @if (selectedUser) {
    <div>
      <div
        class="avatar"
        appAvatar
        [user]="selectedUser"
        context="profile-card"
      ></div>
    </div>
    }

    <div class="username-ctn">
      <span class="username">{{ selectedUser?.name }}</span>
      <div class="online-status">
        <div
          class="online-status-indicator"
          [style]="{
            '--status-color': selectedUser?.online ? onlineColor : offlineColor
          }"
        ></div>

        <span
          [style]="{
            color: selectedUser?.online ? onlineColor : offlineColor
          }"
        >
          {{ selectedUser?.online ? "Aktiv" : "Offline" }}
        </span>
      </div>
    </div>

    <div class="usermail">
      <img src="./assets/icons/start/mail.svg" alt="send mail" />
      <div class="mail-adress">
        <span>Email-Adresse</span>
        <a href="mailto: {{ selectedUser?.email }}">{{
          selectedUser?.email
        }}</a>
      </div>
    </div>

    <button
      popovertargetaction="hide"
      popovertarget="channel-member-overview-popover"
      (click)="setChat(selectedUser); closePopovers()"
      class="send-direct-message-btn"
    >
      <img
        src="./assets/icons/chat/general/dm-profile-enter-chat.svg"
        alt="enter chat"
      />Nachricht
    </button>
  </div>
</main>
