<section
  class="chatcontent"
  [ngClass]="!isWorkspaceMenuVisible ? 'menu-hidden' : ''"
>
  <button class="hide_show_wsm blue" (click)="toggleWorkspaceMenu()">
    <div class="wsm-close"></div>
    <span class="nunito-20-500">
      Workspace-Menü {{ isWorkspaceMenuVisible ? "schließen" : "öffnen" }}
    </span>
  </button>

  <div class="top-bar">
    <app-header />
  </div>
  <div
    class="workspace-menu"
    [@slideInOut]="isWorkspaceMenuVisible ? 'visible' : 'hidden'"
  >
    <app-workspacemenu />
  </div>
  <div class="chatview">
    <app-chatview [currentChannel]="navigationService.chatViewObject" />
  </div>
  <div class="threadview">
    <app-threadview />
  </div>
  <div popover id="add-channel" class="add-channel">
    <app-addchannel />
  </div>
  <div popover id="add-user-to-channel" class="add-user-to-channel">
    <app-add-user-to-channel />
  </div>
</section>
