<main [ngClass]="{'channel-name-editor': channelNameEditor, 'channel-description-editor': channelDescriptionEditor}">
    <div class="channel-editor-header">
        <div>
            <img src="assets/icons/chat/general/hashtag.svg" alt="#">
            <span> {{getTitle(navigationService.chatViewObject)}} </span>
        </div>
        <button (click)="closeChannelInfoPopover()" id="close-icon" popovertargetaction="hide"
            popovertarget="channel-editor-popover">
            <img src="assets\icons\chat\general\close.svg" alt="">
        </button>
    </div>

    <div class="channel-info-content">
        <section [ngClass]="{'channel-name':true}">
            <div>
                <span>Channel Name</span>
                @if (!channelNameEditor) {
                <button [ngClass]="{'no-edit-right': !isChannelCreator()}" [disabled]="!isChannelCreator()"
                    [title]="showNoRightToEditInfo()" (click)="showChannelNameEditor()">Bearbeiten</button>
                }@else {
                <button (click)="saveEditedChannel()" [disabled]="channelService.checkForDuplicateChannelName(updateChannelData.name!, getTitle(navigationService.chatViewObject))">Speichern</button>
                }
            </div>
            <div class="channel-name-input">
                <img src="assets/icons/chat/general/hashtag.svg" alt="#">
                <input [(ngModel)]="updateChannelData.name" [disabled]="!channelNameEditor" type="text"
                    placeholder="{{ getTitle(navigationService.chatViewObject) }} ">
            </div>  
            @if(channelNameEditor){
                <span [ngClass]="{'duplicate-channel-error-msg': channelService.checkForDuplicateChannelName(updateChannelData.name!, getTitle(navigationService.chatViewObject)),
                    'hide-duplicate-channel-error-msg': !channelService.checkForDuplicateChannelName(updateChannelData.name!, getTitle(navigationService.chatViewObject))
                  }">Dieser Kanalname ist bereits vergeben!</span>    
            }  
        </section>
       
        <section class="channel-description">
            <div>
                <span>Beschreibung</span>
                @if (!channelDescriptionEditor) {
                <button [ngClass]="{'no-edit-right': !isChannelCreator()}" [disabled]="!isChannelCreator()"
                    [title]="showNoRightToEditInfo()" (click)="showChannelDescriptionEditor()">Bearbeiten</button>
                }@else {
                <button (click)="saveEditedChannel()">Speichern</button>
                }
            </div>
            <textarea [disabled]="!channelDescriptionEditor" [(ngModel)]="updateChannelData.description"></textarea>
            <hr>
            <div class="channel-creator-info">
                <span>Erstellt von</span>
                <span id="channel-creator-name">{{ getChannelCreator(navigationService.chatViewObject) }}</span>
            </div>
        </section>
        <button [disabled]="!isChannelMember()" popovertarget="confirmation-popup"
            [ngClass]="{'leave-channel-button':true, 'no-edit-right':!isChannelMember()}">Channel Verlassen</button>
    </div>
</main>

<div id="confirmation-popup" popover>
    <div class="confirmation-popup-ctn">
        <p>Möchtest Du dieses Channel, <span># {{ getTitle(navigationService.chatViewObject) }},</span> wircklich
            verlassen? <br>
            Du kannst da nur wieder rein, wenn jemand dich wieder hinzufügt.</p>
        <div class="btn-ctn">
            <button popovertarget="confirmation-popup" popovertargetaction="hide">Abbrechen</button>
            <button popovertarget="channel-editor-popover" popovertargetaction="hide"
                (click)="leaveChannel()">Bestätigen</button>
        </div>
    </div>
</div>