<main>
    <div>
        <div>
            <img src="assets/icons/chat/general/hashtag.svg" alt="#">
            <span> Entwicklerteam</span>
        </div>
        <img src="" alt="">
    </div>
    <section class="channel-name">
        <div>
            <span>Channel Name</span>
            <button>Bearbeiten</button>
        </div>
        <div>
            <img src="assets/icons/chat/general/hashtag.svg" alt="#">
            <input type="text" placeholder="Entwicklerteam">
        </div>
    </section>
    <section class="channel-description">
        <div>
            <span>Beschreibung</span>
            <button>Bearbeiten</button>
        </div>
        <textarea>Dieser Channel ist für alles rund um #dfsdf vorgesehen. Hier kannst du zusammen mit deinem Team Meetings abhalten, Dokumente teilen und Entscheidungen treffen.</textarea>
        <hr>
        <div>
            <span>Erstellt von</span>
            <span>Noah Braun</span>
        </div>
    </section>
    <button></button>
</main>