@import "../../../../../styles.scss";
@import "../../../../../mixins.scss";

:host {
  border: none;
  width: 50%;
  border-radius: 0px 1.875rem 1.875rem 1.875rem;
  top: -5.3125rem;
  opacity: 0;
  transition: $transition-popover;
}

main {
  @include flex(normal, normal);
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.5rem 2.5rem;
  height: 36.3125rem;
  min-height: 100%;
  min-width: 100%;

  >.channel-editor-header {
    @include flex(space-between, center);

    >div {
      @include flex(normal, center);
      font-size: 1.5rem;
      font-weight: 700;
      gap: 0.9375rem;
    }

    >#close-icon {
      @include flex(center, center);
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 100%;
      transition: $transition-standard;

      &:hover {
        background-color: $background;
        cursor: pointer;

        >img {
          content: url("../../../../../assets/icons/chat/general/close-hover.svg");
        }
      }
    }
  }

  .channel-info-content {
    @include flex(center, center);
    flex-direction: column;
    gap: 1.25rem;
    height: 100%;

    >section {
      @include flex(space-between, center);
      flex-direction: column;
      gap: 0.625rem;
      border: $default-border;
      border-radius: 1.25rem;
      padding: 1.25rem;
      width: 100%;

      >div {
        width: 100%;

        >span {
          font-size: 1.125rem;
          font-weight: 700;
        }

        >button {
          font-size: 1.125rem;
          font-weight: 500;
          color: $secondary;
          width: 6.25rem;
          transition: all 250ms ease-in-out;
          width: 5.625rem;
          line-height: 1.5344rem;
          transition: $transition-standard;

          &:not(.no-edit-right, :disabled):hover {
            font-weight: 600;
            color: $secondary;
          }

          &:not(.no-edit-right):disabled{
            color: $disabled;
            cursor: default;
          }
        }
      }

      .channel-name-input {
        gap: 0.625rem;

        >input {
          @include nunito(1.125, 400)
        }
      }
    }
  }
}

.channel-name {
  height: 7.125rem;

  >div {
    @include flex(space-between, center);
  }

  :nth-child(2) {
    @include flex(normal, center);
  }
}

.channel-description {
  height: 273px;

  >div {
    @include flex(space-between, center);
  }

  >textarea:disabled,
  textarea:enabled {
    @include nunito(1.125, 400);
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    background-color: white;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  hr {
    border: $default-border;
    width: 100%;
  }

  .channel-creator-info {
    @include flex(normal, normal);
    flex-direction: column;
    gap: 1.25rem;

    > #channel-creator-name {
      font-weight: 400;
      font-size: 1.5rem;
      color: $secondary;
    }
  }
}

.channel-name-editor {
  .channel-name {
    border: unset !important;
    transition: $transition-standard;
    padding: unset !important;

    .channel-name-input {
      border: $default-border;
      border-radius: 2.5rem;
      padding: 1.125rem 1.25rem;
    }
  }
}

.channel-description-editor {
  .channel-description {
    border: unset !important;
    transition: $transition-standard;
    padding: unset !important;


    >textarea {
      border: $default-border;
      border-radius: 1.875rem;
      padding: 1.125rem 1.25rem;
    }
  }
}

.no-edit-right {
  user-select: none !important;
  cursor: default !important;
}

.leave-channel-button {
  align-self: flex-end;
  @include buttonFull();
}

#confirmation-popup {
  padding: 15px 30px;
  border: none;
  border-radius: 20px;

  .confirmation-popup-ctn {
    @include flex(center, center);
    flex-direction: column;
    gap: 20px;


    >p {
      line-height: 32px;

      >span {
        color: $primary
      }
    }

    >.btn-ctn {
      @include flex(flex-end, center);
      gap: 1.25rem;
      width: 100%;

      >button {
        @include buttonFull();
      }
    }
  }
}

.duplicate-channel-error-msg{
  color: #f00;
  font-size: 0.875rem;
  text-align: start;
  width: 100%;
  margin-top: -0.5rem;
  opacity: 1;
  transition: $transition-standard;
}

.hide-duplicate-channel-error-msg{
  opacity: 0;
  color: #f00;
  font-size: 0.875rem;
  text-align: start;
  width: 100%;
  margin-top: -0.5rem;
  user-select: none;
}