@import "../../../styles.scss";
@import "../../../mixins.scss";
@import "../../../fonts.scss";

:host {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1.25rem 0.75rem var(--textarea-padding-left, 1.25rem);
  background-color: #ffffff;
  border-radius: 0 0 1.875rem 1.875rem;
  border: unset;

  @media (width < 426px) {
    padding: 0.5rem 1.25rem 0.75rem 1.25rem;
  }
}

.errorspan {
  @include nunito(0.875, 400, $error);
  margin-left: auto;
  margin-right: 1rem;
}

.addattachment {
  @include flex(center, center);

  >input {
    display: none;
  }
}

.attachments {
  @include flex(center, center);
  align-self: stretch;
  height: fit-content;
  min-height: 3rem;
  gap: 0.5rem;
  padding: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #adb0d9 #eceefe;

  .attachment {
    position: relative;
    @include flex(center, center);
    gap: 0.5rem;
    height: fit-content;
    padding: 0.5rem;
    border-radius: 0.625rem;
    background-color: #eceefe;
    transition: $transition-standard;

    &:hover {
      background-color: #d9dffd;
    }

    >img {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
    }

    >span {
      max-width: 30ch;
      font-size: 0.875rem;
      font-weight: 600;
      color: black;
    }

    &:hover {
      .remove-attachment {
        display: flex;
      }
    }

    .remove-attachment {
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;
      display: none;
      width: 1rem;
      height: 1rem;
      border: 1px solid black;
      border-radius: 50%;
      cursor: pointer;
      transition: $transition-standard;

      &:hover {
        background-color: $error;
      }
    }
  }

  .remove-attachment {
    cursor: pointer;

    >img {
      width: 1rem;
      height: 1rem;
    }
  }
}

.drag-over {
  opacity: 1 !important;
}

.drag-background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(circle, #fff 0%, #444df23d 100%);
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  opacity: 0;
  transition: $transition-standard;
}

.input-message {
  position: relative;
  z-index: 1;
  @include flex(flex-start, stretch);
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  border-top: $default-border;
  transition: $transition-standard;

  .input-message-toolbar {
    z-index: 1;
    @include flex(space-between, center);
    width: 100%;

    @media (width < 426px) {
      padding-left: var(--textarea-padding-left, 2rem);
    }

    .message-action-button {
      z-index: 1;
      display: flex;
      align-items: center;
      gap: 0.3125rem;

      >img {
        z-index: 1;
        width: 1.5rem;
        height: 1.5rem;
      }

      >button {
        z-index: 1;
        display: flex;
        align-items: center;
      }

      >span {
        z-index: 1;
        font-size: 24px;
        font-weight: 100;
      }
    }
  }
}

.bottom-bar {
  z-index: 1;
  @include flex(flex-end, center);
  gap: 1rem;
}

.button-disabled {
  @include flex(center, center);
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.button-ctn {
  @include iconBox;
}

#add-attachment-icon:hover {
  >img {
    content: url("../../../assets/icons/chat/write-message/add-attachment-hover.svg");
  }
}

#emoji-picker-icon:hover {
  >img {
    content: url("../../../assets/icons/chat/write-message/emoji-picker-hover.svg");
  }
}

#tag-person-icon:hover {
  >img {
    content: url("../../../assets/icons/chat/write-message/tag-person-hover.svg");
  }
}

#tag-channel-icon:hover {
  >img {
    content: url("../../../assets/icons/chat/write-message/hashtag-hover.svg");
  }
}

#send-message-icon {
  @include flex(center, center);

  &:disabled {
    cursor: default !important;

    >img {
      filter: grayscale(100%);
      opacity: 0.5;
    }
  }

  >img {
    width: 1.875rem;
    height: 1.875rem;
  }

  &:enabled:hover {
    >img {
      content: url("../../../assets/icons/chat/write-message/send-hover.svg");
    }
  }
}

.attachment-preview {
  display: none;
  height: fit-content;
  max-height: 60%;
  width: fit-content;
  max-width: 70%;
  padding: 1.25rem;
  border: none;
  border-radius: 1.875rem;
  box-shadow: $profile-box-shadow;
  opacity: 0;
  transition: $transition-popover;

  @media screen and (width < 431px) {
    max-height: 80%;
    max-width: 90%;
  }

  >img {
    border-radius: 1.875rem;
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}

.attachment-preview:popover-open {
  opacity: 1;
  display: flex;
}

@starting-style {
  #popover-member-profile:popover-open {
    opacity: 0;
  }
}