<div [ngClass]="{'drag-over':dropzonehighlighted}" class="input-message">
    <textarea [disabled]="formDisabled" dragzone class="z-index-2" [(ngModel)]="message" name="" id=""
        placeholder="Nachricht an #Entwicklerteam"></textarea>
    @if(!formDisabled && attachments.length > 0){
    <div class="attachments">
        @for(attachment of attachments; track attachment){
        <div class="attachment">
            <img src="{{ attachment.src }}" alt="+">
            <span>{{ attachment.name }}</span>
            <img (click)="removeAttachment(attachment)" class="remove-attachment"
                src="./assets/icons/chat/general/close.svg" alt="">
        </div>
        }
    </div>
    }
    <div class="input-message-toolbar z-index-2">
        <div class="message-action-button" (mouseenter)="isActive = true" (mouseleave)="isActive = false">
            <div id="add-attachment-icon" class="button-ctn">
                <label class="addattachment" for="addattachment">
                    <input [disabled]="formDisabled" (change)="changeAttachmentFile($event)" id="addattachment" type="file"
                        accept=".pdf, .png, .jpeg, .gif" multiple>
                    <img [ngClass]="{ 'd-none': isActive }" src="./assets/icons/chat/write-message/add-attachment.svg"
                        alt="+">
                    <img [ngClass]="{ 'd-none': !isActive }"
                        src="./assets/icons/chat/write-message/add-attachment-active.svg" alt="+">
                </label>
            </div>
            <span>|</span>
            <div id="emoji-picker-icon" class="button-ctn">
                <img [ngClass]="{ 'd-none': isActive }" src="./assets/icons/chat/write-message/emoji-picker.svg"
                    alt="+">
                <img [ngClass]="{ 'd-none': !isActive }" src="./assets/icons/chat/write-message/emoji-picker-active.svg"
                    alt="smiley">
            </div>
            <div id="tag-person-icon" class="button-ctn">
                <img [ngClass]="{ 'd-none': isActive }" src="./assets/icons/chat/write-message/tag-person.svg" alt="+">
                <img [ngClass]="{ 'd-none': !isActive }" src="./assets/icons/chat/write-message/tag-person-active.svg"
                    alt="@">
            </div>
        </div>
        <button [disabled]="formDisabled" (click)="addNewMessage(newMessageinChannel, message)" id="send-message-icon"
            (mouseenter)="isActive = true" (mouseleave)="isActive = false">
            <img src="./assets/icons/chat/write-message/send.svg" alt="">
        </button>
    </div>
</div>