<div class="input-message">
    <textarea name="" id="" placeholder="Nachricht an #Entwicklerteam"></textarea>
    <div class="input-message-toolbar">
        <div class="message-action-button">
            <button><img src="./assets/icons/chat/write-message/add-attachment.svg" alt="+"></button>
            <span>|</span>
            <button><img src="./assets/icons/chat/write-message/emoji-picker.svg" alt="smiley"></button>
            <button><img src="./assets/icons/chat/write-message/tag-person.svg" alt="@"></button>
        </div>
        <button><img src="./assets/icons/chat/write-message/send.svg" alt=""> </button>
    </div>
</div>