<section>
  <div class="modal">
    <div class="button-bar">
      <div class="go-back">
        <img
          (click)="goBack()"
          src="./assets/icons/start/go-back.svg"
          alt="go back icon"
        />
      </div>
    </div>
    <article>
      <h1>Impressum</h1>
      <h3 id="m46">Diensteanbieter</h3>
      <p>
        Michael Buschmann <br />
        Wernerstraße 18 <br />
        01159 Dresden
      </p>

      <h3 id="m56">Kontaktmöglichkeiten</h3>
      <p>
        E-Mail-Adresse:
        <a href="mailto: hey@michael-buschmann.dev"
          >hey&#64;michael-buschmann.dev</a
        >
      </p>

      <h3 id="m153">Vertretungsberechtigte Personen</h3>
      <p>Entwickler-Team bestehend aus:</p>

      <ul>
        <li>Béla Schramm</li>
        <li>Anthony Hamon</li>
        <li>Peter Walbaum</li>
        <li>Michael Buschmann</li>
      </ul>
    </article>
  </div>
</section>
