@import "../../../styles.scss";
@import "../../../mixins.scss";
@import "../../../fonts.scss";

section {
  position: relative;
  @include flex(center, center);
  width: 100%;
  height: 100vh;
  max-width: 1920px;
  padding: 1.25rem;
  background-color: $background;

  @media (width < 426px) {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
  }

  .modal {
    position: relative;
    @include flex(flex-start, stretch);
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    max-height: 85%;
    padding: 2rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 2px 10px 0px #00000014;

    @media (width < 426px) {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      border-radius: 0;
    }

    .button-bar {
      width: 100%;
      height: fit-content;

      .go-back {
        @include iconBox;
        cursor: pointer;

        &:hover img {
          content: url("../../../assets/icons/start/go-back-hover.svg");
        }
      }
    }
  }

  article {
    overflow-y: auto;
    scroll-behavior: smooth;

    h1 {
      margin-top: 0 !important;
      line-height: 100%;
    }

    h1,
    h2,
    h3,
    p {
      margin: 1rem 0;
    }

    h1 {
      color: $accent;
    }

    a {
      color: $primary;
      transition: $transition-standard;

      &:hover {
        font-weight: 700;
      }
    }

    ul {
      padding-inline-start: 2rem !important;

      li {
        list-style-type: circle;
      }
    }
  }
}
