<div class="debug-btn">
    <button [routerLink]="['/chatcontent']">to chatcontent</button>
    @if(userservice.currentUser) {
    <button (click)="userservice.logoutUser()">logout</button>
    - {{userservice.currentUser.name}}
    }
</div>


<!-- ##################################################################################################### -->

<div class="service-debug">
    <h1>Channels erzeugen</h1>
    <input [(ngModel)]="name" type="text" placeholder="name">
    <input [(ngModel)]="description" type="text" placeholder="description">
    <button (click)="addNewChannel()">channel create</button>
    <hr>
    <h1>Message hinzufügen</h1>
    <input [(ngModel)]="messagecontent" type="text" placeholder="messagetext">
    <hr>
    <h2>Channels</h2>
    @for (kanal of channelservice.channels; track channelservice.channels; let i = $index) {
    <div>
        <button (click)="setCurrentChannel(kanal)">{{kanal.name}} <br> {{kanal.description}}</button>
        <button (click)="addMessageToChannel(i)">addmessage</button>
        <button (click)="updateChannel(i)">update channel</button>
    </div>
    }
    @empty {
    <span>no channels</span>
    }
    @if(navigationService.ifMainMessageObjectIsChannel() && navigationService.chatViewPath) {
    <hr>
    <h1># {{getTitle(navigationService.chatViewObject)}}</h1>
    <app-messageviewexample [messagesPath]="navigationService.chatViewPath"></app-messageviewexample>
    }
    @if(navigationService.threadViewObject) {
    <hr>
    <h1>{{ getTitle(navigationService.threadViewObject) }}</h1>
    <app-messageviewexample [messagesPath]="navigationService.threadViewPath"></app-messageviewexample>
    }
</div>

<!-- ##################################################################################################### -->

<!-- Konto erstellen Button -->
<button class="signup-btn" [routerLink]="['/signup']">Konto erstellen</button>


<form [formGroup]="loginForm" (ngSubmit)="submitLoginForm($event)">
    <span class="title nunito-46-700">Anmeldung</span>
    <div class="info nunito-20-400">
        Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.
    </div>
    <div class="input-box mail">
        <input formControlName="email" type="email" placeholder="beispielname@email.com" />
    </div>
    <div class="input-box pw">
        <input formControlName="password" type="password" placeholder="Passwort" />
    </div>
    <div class="password-missed">
        <button type="button">Passwort vergessen?</button>
    </div>
    <div class="or-separator">
        <span>oder</span>
    </div>
    <button class="login-with-google" type="button">
        <img src="../../../assets/icons/start/google.svg" alt="">
        Anmelden mit Google
    </button>
    <div class="action-btns">
        <button [disabled]="loginForm.invalid" type="submit" class="blue-btn">Anmelden</button>
        <button type="button" class="white-btn">Gäste-Login</button>
    </div>
</form>