@import "../../../fonts.scss";
@import "../../../styles.scss";
@import "../../../mixins.scss";

$popover-padding: clamp(1.25rem, 4.138vw + 0.148rem, 2rem);
$popover-fs: clamp(1.25rem, 4.138vw + 0.148rem, 2rem);

$popover-right: calc(1.25rem + max(0px, (100vw - 1920px) / 2));
$signup-btn-margin: calc(4rem + max(0px, (100vw - 1920px) / 2));

#infoPopover {
  transform: translateX(100vw);
  margin: auto $popover-right 1.25rem auto;
  padding: $popover-padding;
  background-color: $accent;
  border: unset;
  border-radius: 2rem 2rem 0 2rem;
  font-size: $popover-fs;
  font-weight: 700;
  color: white;
  box-shadow: 0px 6px 10px 0px #00000033;
  transition: $transition-popover;

  > div {
    @include flex(flex-start, center);
    gap: 1rem;
  }
}

#infoPopover:popover-open {
  transform: translateX(0);
  opacity: 1;
}

@starting-style {
  #infoPopover:popover-open {
    opacity: 0;
    transform: translateX(100vw);
  }
}

.errorspan {
  @include nunito(0.875, 400, $error);
  position: absolute;
  bottom: -1.325rem;
  left: 1.5rem;
}

section {
  position: relative;
  @include flex(center, center);
  width: 100%;
  height: fit-content;
  max-width: 1920px;
  min-height: 100vh;
  max-height: 1080px;
  padding: 1.25rem;
  background-color: $background;

  @media (width < 426px) {
    padding: 1.25rem 0;
  }

  .debug-btn {
    position: absolute;
    top: 6rem;
    left: 1rem;
    @include flex(flex-start, flex-start);
    flex-direction: column;
    gap: 0.5rem;

    button {
      @include buttonEmpty;
    }
  }

  .static-bubble-logo {
    position: fixed;
    z-index: 1;
    top: 2rem;
    left: $signup-btn-margin;
    @include flex(center, center);
    gap: 1rem;

    @media (width <= 1200px) {
      position: absolute;
    }

    @media (width <= 640px) {
      left: 50%;
      transform: translateX(-50%);
    }

    img {
      width: 3rem;
      aspect-ratio: 1 / 1;
    }

    span {
      @include nunito(2, 700, black);
    }
  }

  .signup-btn {
    position: fixed;
    top: 2rem;
    right: $signup-btn-margin;
    @include flex(flex-start, flex-end);
    flex-direction: column;
    gap: 1rem;

    @media (width <= 1200px) {
      position: absolute;
    }

    @media (width <= 640px) {
      top: unset;
      left: 50%;
      bottom: 6.5rem;
      transform: translateX(-50%);
      @include flex(center, center);
      width: 100%;
    }

    span {
      padding-right: 1.5rem;
      @include nunito(1.2, 400);
    }

    button {
      @include buttonNoBg;

      @media (width <= 640px) {
        @include buttonEmpty;
      }
    }
  }

  form {
    position: relative;
    @include flex(flex-start, stretch);
    flex-direction: column;
    gap: 2rem;
    height: fit-content;
    width: 100%;
    max-width: 38rem;
    padding: 2rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 2px 10px 0px #00000014;

    @media (width > 640px) {
      margin: 8rem auto;
    }

    @media (width <= 640px) {
      margin: 6rem auto 14rem auto;
    }

    @media (width < 426px) {
      gap: 1.75rem;
      border-radius: 0;
    }

    @media (width <= 375px) {
      margin: 6rem auto 14rem auto;
    }

    .return {
      position: absolute;
      top: 1rem;
      left: 1rem;
      @include iconBox;
      @include flex(center, center);
    }

    .input-box {
      @include inputBox;
      background: $background;

      input {
        position: relative;
        @include input;
      }
    }

    .button-box {
      position: relative;
    }

    .mail::before {
      background-image: url("../../../assets/icons/start/mail.svg");
    }

    .pw::before {
      background-image: url("../../../assets/icons/start/lock.svg");
    }

    .title {
      @include nunito(2.5, 700, $accent);
      text-align: center;
      line-height: 100%;
    }

    .info {
      @include nunito(1.125, 400);
      text-align: center;
    }

    .info-gray {
      @include nunito(1.2, 400, #686868);
      text-align: center;
    }

    .password-missed {
      align-self: center;

      button {
        @include buttonNoBorder;
      }
    }

    .or-separator {
      @include flex(center, center);
      gap: 1rem;

      span {
        @include nunito(1.2, 400);
      }

      > div {
        flex-grow: 1;
        height: 1px;
        background-color: $vert-spacer;
      }
    }

    .login-with-google {
      align-self: stretch;
      @include buttonGoogle(100%);
      align-self: center;

      @media (width <= 330px) {
        img {
          width: 2rem;
          aspect-ratio: 1 / 1;
        }
      }
    }

    .action-btns {
      @include flex(space-between, center);
      align-self: center;
      width: 80%;

      @media (width < 425px) {
        width: 100%;
      }
    }

    .action-btns-pwreset {
      @include flex(flex-end, center);
      align-self: center;
      width: 100%;

      @media (width < 480px) {
        @include flex(center, center);
      }

      img {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    .blue-btn {
      @include buttonFull;

      @media (width <= 330px) {
        font-size: 1.25rem;
      }

      &:disabled {
        pointer-events: none;
      }
    }

    .white-btn {
      @include buttonEmpty;

      @media (width <= 330px) {
        font-size: 1.25rem;
      }
    }
  }

  form.pw-reset-form span.title {
    @media (width <= 560px) {
      margin-top: 2rem;
    }
    @media (width < 465px) {
      margin-top: 0;
    }
  }

  .mandatory-buttons {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    @include flex(center, center);
    gap: 4rem;
    width: fit-content;

    @media (width <= 640px) {
      bottom: 1.25rem;
    }

    button {
      @include buttonMandatory;
    }
  }

  .spinner-box {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 10rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
