<div class="debug-btn">
  <button [routerLink]="['/chatthreadtest']">DEBUG</button>
  <button [routerLink]="['/chatcontent']">CHATCONTENT</button>
  @if(userservice.currentUser) { User: {{ userservice.currentUser.name }}
  <button (click)="userservice.logoutUser()">logout</button>
  }
  <button [routerLink]="['/showcase']">Styling Showcase</button>
</div>

<!-- Konto erstellen Button -->
<div class="signup-btn">
  <span>Neu bei DABubble?</span>
  <button [routerLink]="['/signup']">Konto erstellen</button>
</div>

<section>
  <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm($event)">
    <span class="title nunito-46-700">Anmeldung</span>
    <div class="info nunito-20-400">
      Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
      verwendest.
    </div>
    <div class="input-box mail">
      <input formControlName="email" type="email" placeholder="beispielname@email.com" />
      @if(errorEmail != '') {
      <span class="errorspan">{{ errorEmail }}</span>
      }
    </div>
    <div class="input-box pw">
      <input formControlName="password" type="password" placeholder="Passwort" />
      @if(errorPassword != '') {
      <span class="errorspan">{{ errorPassword }}</span>
      }
    </div>
    <div class="password-missed">
      <button type="button">Passwort vergessen?</button>
    </div>
    <div class="or-separator">
      <div></div>
      <span>ODER</span>
      <div></div>
    </div>
    <button class="login-with-google" type="button">
      <img src="../../../assets/icons/start/google.svg" alt="" />
      Anmelden mit Google
    </button>
    <div class="action-btns">
      <button [disabled]="loginForm.invalid" type="submit" class="blue-btn">
        @if(logginIn) {
        Logging in ...
        } @else {
        Anmelden
        }
      </button>
      <button type="button" class="white-btn">Gäste-Login</button>
    </div>
  </form>
</section>