<section>
  <div class="header-workspace-menu">
    <div>
      <img
        src="../../../assets/icons/workspace_logo.svg"
        alt="workspace_logo.svg"
      />
      <span>Devspace</span>
    </div>
    <img src="../../../assets/icons/add.svg" alt="add.svg" />
  </div>
  <div>
    <details>
      <summary>
        <img
          src="../../../assets/icons/workspaces.svg"
          alt="workspaces.svg"
        />Channels
      </summary>
      <ul>
        <li>
          <img src="../../../assets/icons/tag.svg" alt="tag.svg" />
          <span>Entwicklerteam</span>
        </li>
        <button class="add-channel">
          <img
            src="../../../assets/icons/add_circle.svg"
            alt="add_circle.svg"
          />
          <span>Channel hinzufügen</span>
        </button>
      </ul>
    </details>
  </div>
  <div>
    <details>
      <summary>
        <img
          src="../../../assets/icons/account_circle.svg"
          alt="account_circle.svg"
        />
        <span>Direktnachrichten</span>
      </summary>
      <ul>
        <li>
          <div class="profil-image"></div>
          <span>Michael Buschmann</span>
        </li>
        <li>
          <div class="profil-image"></div>
          <span>Bela Schramm</span>
        </li>
        <li>
          <div class="profil-image"></div>
          <span>Anthony Hamon</span>
        </li>
        <li>
          <div class="profil-image"></div>
          <span>Peter Wallbaum</span>
        </li>
      </ul>
    </details>
  </div>
</section>
