<section>
  <div class="workspace-menu-header">
    <div>
      <img
        src="../../../assets/icons/wsm/devspace-logo.svg"
        alt="devspace-logo.svg"
      />
      <span class="nunito-24-700">Devspace</span>
    </div>
  </div>
  <div class="channels">
    <details>
      <summary class="blue">
        <div>
          <div>
            <div class="ws-channels"></div>
            <span class="nunito-20-700">Channels</span>
          </div>
          <button
            class="add-channel-btn"
            (click)="toggleAddChannelPopover()"
          ></button>
        </div>
      </summary>
      <ul class="channel-list">
        @for (channel of channelservice.channels; track channel) {
        <li
          hoverElement
          [class.active]="activeChannel === channel"
          (click)="setChat(channel); activeChannel = channel"
        >
          <div class="hashtag"></div>
          <span class="nunito-18-400">{{ channel.name }}</span>
        </li>
        }
      </ul>
      <button hoverElement (click)="toggleAddChannelPopover()">
        <div class="add-channel-2"></div>
        <span class="nunito-18-400">Channel hinzufügen</span>
      </button>
    </details>
  </div>
  <div class="messagesChannels">
    <details>
      <summary class="blue">
        <div class="dm-symbol"></div>
        <span class="nunito-20-700">Direktnachrichten</span>
      </summary>
      <ul>
        <li
          class="dm-list-item"
          hoverElement
          [class.active]="activeUser === userservice.currentUser"
          (click)="
            setChat(userservice.currentUser);
            activeUser = userservice.currentUser
          "
        >
          <div
            class="avatar"
            appAvatar
            [user]="userservice.currentUser"
            context="wsm-list"
          ></div>
          <span>{{ userservice.currentUser?.name }} <br />(Du) </span>
        </li>
        @for(user of userservice.users; track user) { @if(!user.guest && user.id
        !== userservice.currentUserID) {
        <li
          class="dm-list-item"
          hoverElement
          [class.active]="activeUser === user"
          (click)="setChat(user); activeUser = user"
        >
          <div class="avatar" appAvatar [user]="user" context="wsm-list"></div>
          <span>{{ user.name }} </span>
        </li>
        } }
      </ul>
    </details>
  </div>
  <app-addchannel />
</section>
