<section>
  <div class="workspace">
    <div>
      <img
        src="../../../assets/icons/wsm/devspace-logo.svg"
        alt="devspace-logo.svg"
      />
      <span>Devspace</span>
    </div>
    <div class="ws-write"></div>
  </div>
  <div class="channels">
    <details>
      <summary>
        <div>
          <div class="ws-channels"></div>
          <span>Channels</span>
        </div>
      </summary>
      <ul class="channel-list">
        <li>
          <div class="hashtag"></div>
          <span>Entwicklerteam</span>
        </li>
      </ul>
      <button popoverTarget="addchannel" popovertargetaction="show">
        <div class="add-channel-2"></div>
        <span>Channel hinzufügen</span>
      </button>
    </details>
    <button
      class="add-channel"
      popoverTarget="addchannel"
      popovertargetaction="show"
    ></button>
  </div>
  <div>
    <details>
      <summary>
        <div class="dm-symbol"></div>
        <span>Direktnachrichten</span>
      </summary>
      <ul>
        <li *ngFor="let user of userservice.users">
          <div class="profil-image"></div>
          <span>{{ user.name }}</span>
        </li>
      </ul>
    </details>
  </div>
</section>
