<section popover id="addChannelId"[ngClass]="{ fullscreen: isFullscreen, 'add-channel': true }" (click)="closeOnClick()">
  @if (toggleAddChannelPopover) {
  <section [ngClass]="{ fullscreen: isFullscreen }" class="addChannelSection">
    <div class="headline">
      <span class="nunito-24-700">Channels erzeugen</span>
      <button
        class="close-add-channel"
        popovertarget="addChannelId"
        popovertargetaction="hide"
      ></button>
    </div>
    <div>
      <span class="nunito-18-400">
        Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
        themenbezogen sein #marketing zum Beispiel.
      </span>
    </div>
    <div><span class="nunito-18-700">Channel-Name</span></div>
    <input
      [(ngModel)]="name"
      type="text"
      placeholder="# z.B. Kooperationsprojekte"
      class="nunito-18-400"
    />
    <span
      [ngClass]="{
        'duplicate-channel-error-msg':
          channelservice.checkForDuplicateChannelName(name, name, false),
        'hide-duplicate-channel-error-msg':
          !channelservice.checkForDuplicateChannelName(name, name, false)
      }"
      >Dieser Kanalname ist bereits vergeben!</span
    >
    <div>
      <span class="nunito-18-700">Beschreibung <span>(optional)</span></span>
    </div>
    <input
      [(ngModel)]="description"
      type="text"
      placeholder="Dein Text hier"
      class="nunito-18-400"
    />
    <div style="justify-content: end">
      <button
        class="button-ctn nunito-18-700"
        [disabled]="
          !name ||
          name.trim().length === 0 ||
          channelservice.checkForDuplicateChannelName(name, name, false)
        "
        (click)="toggleAddChannel()"
      >
        Erstellen
      </button>
    </div>
  </section>
  } @else { @if (!toggleAddChannelPopover){
  <section [ngClass]="{ fullscreen: isFullscreen }" class="addUserToChannel">
    <div>
      <span class="nunito-24-700">Leute hinzufügen</span>
      <button
        popovertarget="addChannelId"
        popovertargetaction="hide"
        class="close-add-user"
      ></button>
    </div>
    <div>
      <div>
        <input
          id="allMembers"
          class="select-user-search"
          type="radio"
          name="userOption"
          (change)="addOptionSelected(false)"
        />
        <label for="allMembers">Alle Mitglieder von Devspace hinzufügen</label>
      </div>
    </div>
    <div style="flex-direction: column">
      <div>
        <input
          id="specificPeople"
          class="select-user-search"
          type="radio"
          name="userOption"
          (change)="addOptionSelected(true)"
        />
        <label for="specificPeople">Bestimmte Leute hinzufügen</label>
      </div>
      <div>
        @if (isUserSearchSelected) {
        <div class="addUserSearchbar">
          @if (userAmount > 0) {
          <div class="search-blocks">
            @for (user of selectedUsers; track user) {
            <div class="search-block-item">
              <div appAvatar [user]="user" context="search"></div>
              <span>{{ user.name }}</span>
              <button
                class="remove-context"
                (click)="removeUserFromSelection(user)"
              >
                <img
                  src="./assets/icons/modals/close-search-item.svg"
                  alt="Remove"
                />
              </button>
            </div>
            }
          </div>
          }

          <input
            type="text"
            [(ngModel)]="searchQuery"
            (input)="onSearchInput()"
            (focus)="onFocus()"
            (blur)="onBlur()"
            placeholder="Search users..."
          />

          @for (suggestion of suggestions$ | async; track suggestion) {
          <div class="suggestion-item" (click)="selectSuggestion(suggestion)">
            @if(suggestion.type === 'user' &&
            getUserFromSuggestion(suggestion)){
            <div
              appAvatar
              [user]="getUserFromSuggestion(suggestion)!"
              context="search"
            ></div>
            <div>{{ suggestion.text }}</div>
            }
          </div>
          }
        </div>
        }
      </div>
    </div>
    <div style="justify-content: end">
      <button
        (click)="toggleAddChannel(); addNewChannel()"
        [disabled]="
          isAnyOptionSelected === false ||
          (isUserSearchSelected && userAmount === 0)
        "
        class="button-ctn nunito-18-700"
      >
        Erstellen
      </button>
    </div>
  </section>
  }}
</section>
