<section>
  <div class="headline">
    <h2 class="nunito-24-700">Channels erzeugen</h2>
    <button
      class="close-add-channel"
      popovertarget="add-channel"
      popovertargetaction="hide"
    ></button>
  </div>
  <div>
    <p class="nunito-18-400">
      Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
      themenbezogen sein #marketing zum Beispiel.
    </p>
  </div>
  <div><h3 class="nunito-18-700">Channel-Name</h3></div>
  <input
    [(ngModel)]="name"
    type="text"
    placeholder="# z.B. Kooperationsprojekte"
    class="nunito-18-400"
  />
  <div>
    <h3 class="nunito-18-700">Beschreibung <span>(optional)</span></h3>
  </div>
  <input
    [(ngModel)]="description"
    type="text"
    placeholder="Dein Text hier"
    class="nunito-18-400"
  />
  <div style="justify-content: end" class="nunito-18-700">
    <button
      popovertarget="add-user-to-channel"
      popovertargetaction="show"
      (click)="addNewChannel()"
    >
      Erstellen
    </button>
  </div>
</section>
