<div class="searchbar">
  @if (userSelected) {
  <div class="search-blocks">
    <div *ngFor="let user of selectedUsers" class="search-block-item">
      <div appAvatar [user]="user" context="search"></div>
      <span>{{ user.name }}</span>
      <button class="remove-context" (click)="removeUserFromSelection(user)">
        <img
          src="../../../../assets/icons/modals/close-search-item.svg"
          alt="Remove"
        />
      </button>
    </div>
  </div>
  }

  <input
    type="text"
    [(ngModel)]="searchQuery"
    (input)="onSearchInput()"
    (focus)="onFocus()"
    (blur)="onBlur()"
    placeholder="Search users..."
  />

  <div
    *ngFor="let suggestion of suggestions$ | async"
    class="suggestion-item"
    (click)="selectSuggestion(suggestion)"
  >
    <div
      *ngIf="suggestion.type === 'user' && getUserFromSuggestion(suggestion)"
      appAvatar
      [user]="getUserFromSuggestion(suggestion)!"
      context="search"
    ></div>
    <div>{{ suggestion.text }}</div>
  </div>
</div>
