<main>
    <div>
        <h4>Mitglieder</h4>
        <div popovertargetaction="hide">
            <img src="assets\icons\chat\general\close.svg" alt="">
        </div>
    </div>
    <section class="member-list">
        <div class="member">
            <div class="avatar">
                <img class="avatar" src="assets/icons/start/choose-avatar/choose-avatar-1.svg" alt="">
            </div>
            <span>Frederick beck (Du)</span>
        </div>
        <div class="member">
            <div class="avatar">
                <img class="avatar" src="assets/icons/start/choose-avatar/choose-avatar-2.svg" alt="">
            </div>
            <span>Sofia Müller</span>
        </div>
        <div class="member">
            <div class="avatar">
                <img class="avatar" src="assets/icons/start/choose-avatar/choose-avatar-3.svg" alt="">
            </div>
            <span>Noah Braun</span>
        </div>
        <div class="add-member">
            <div>
                <img src="assets/icons/chat/general/add-to-channel.svg" alt="">
            </div>
            <span>Mitglieder hinzufügen</span>
        </div>
    </section>
    
</main>