<main>
    <div>
        <h4>Mitglieder</h4>
        <button popovertargetaction="hide" popovertarget="channel-member-overview-popover">
            <img src="assets\icons\chat\general\close.svg" alt="">
        </button>
    </div>
    <section class="member-list">
        @for (member of currentChannel.memberIDs; track $index) {
            <div class="member">
                <div appAvatar [user]="userService.getUserByID(member)" context="chat-channel-members-big"></div>
                <span>{{ getMemberName(member) }}</span>
            </div>
        }
        <div class="add-member">
            <div>
                <img src="assets/icons/chat/general/add-to-channel.svg" alt="">
            </div>
            <span>Mitglieder hinzufügen</span>
        </div>
    </section>
    
</main>