@import "../../../../../styles.scss";
@import "../../../../../mixins.scss";

:host {
  top: -5.3125rem;
  right: -3.125rem;
  width: 100%;
  border-radius: 1.875rem 0 1.875rem 1.875rem;
  border: none;
  opacity: 0;
  transition: $transition-popover;
}

.member-list-header {
  @include flex(space-between, center);
  width: 100%;
  padding: 2.5rem 2.5rem 0 2.5rem;

  h4 {
    margin: 0;
    font-size: 1.5rem;
  }

  > button {
    @include flex(center, center);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;

    &:hover {
      background-color: $background;
      cursor: pointer;

      > img {
        content: url("../../../../../assets/icons/chat/general/close-hover.svg");
      }
    }
  }
}

.member-list {
  gap: 0.9375rem;
  width: 100%;
  height: 100%;
  padding: 1rem 2.5rem;
  overflow-y: auto;

  .current-user {
    user-select: none;

    &:hover {
      cursor: default !important;
    }
  }

  > button {
    @include flex(normal, center);
    gap: 0.8125rem;
    width: 100%;
    margin-bottom: 0.9375rem;

    > span {
      @include nunito(1.125, 400);
    }
  }

  .member {
    padding: 0.25rem 1.25rem;

    &:hover {
      background-color: $background;
      border-radius: 6.25rem;
      cursor: pointer;
    }
  }
}

.add-member-btn {
  @include flex(center, center);
  gap: 0.9375rem;
  width: 100%;
  padding: 0.75rem 1.25rem;
  border-radius: 6.25rem;
  cursor: pointer;

  > div {
    @include flex(center, center);
    width: 2.5rem;
    height: 2.5rem;

    > img {
      width: 2rem;
      height: 2rem;
      padding: 0.25rem;
      background-color: $background;
      border-radius: 100%;
    }
  }

  &:not(.no-edit-right):hover {
    background-color: $background;
    color: $secondary;
    cursor: pointer;

    > div {
      > img {
        content: url("../../../../../assets/icons/chat/general/add-to-channel-hover.svg");
        border-radius: unset;
      }
    }
  }
}

.add-new-member-popover {
  @include flex(center, center);
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  padding: 2.5rem;

  > section {
    @include flex(normal, normal);
    flex-direction: column;
    gap: 0.3125rem;
    width: 100%;

    > .popover-title {
      @include flex(space-between, center);
      width: 100%;

      h4 {
        margin: 0;
        font-size: 1.5rem;
      }

      > button {
        @include flex(center, center);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;

        &:hover {
          background-color: $background;
          cursor: pointer;

          > img {
            content: url("../../../../../assets/icons/chat/general/close-hover.svg");
          }
        }
      }
    }

    > .channel-name {
      @include flex(normal, center);
      gap: 0.9375rem;

      > img {
        filter: invert(45%) sepia(72%) saturate(824%) hue-rotate(207deg)
          brightness(99%) contrast(92%);
      }

      > span {
        color: $primary;
      }
    }
  }

  .add-member-input-ctn {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 0.9375rem 1.25rem;
    border-radius: 1.875rem;
    border: $default-border;

    > input {
      @include nunito(1.125, 400);
      color: $disabled;
    }
  }

  .button-disabled {
    @include buttonDisabled();
    align-self: flex-end;
    cursor: default !important;
  }

  .button-enable {
    @include buttonFull();
    align-self: flex-end;
  }
}

.search-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;

  &.context-active {
    margin: 0.5rem 0;
  }
}

.search-block-item {
  @include flex(space-evenly, center);
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: $background;
  border-radius: 1rem;
  color: $accent;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;

  button.remove-context {
    @include flex(flex-start, center);
    padding: 0;
    margin-left: 0.25rem;
    background: none;
    border: none;

    &:hover img {
      border-color: $error;
      content: url("../../../../../assets/icons/modals/close-search-item-hover.svg");
    }

    img {
      width: 1.25rem;
      aspect-ratio: 1 / 1;
      padding: 0.125rem;
      border-radius: 50%;
      border: $active-border;
    }
  }
}

.suggestion-item {
  @include flex(flex-start, center);
  gap: 0.25rem;
  width: fit-content;
  padding: 0.5rem;
  cursor: pointer;
  transition: $transition-standard;

  &:hover {
    padding: 0.5rem 0.825rem;
    border-radius: $circled-border-radius;
    background-color: $background;
    color: $accent;
    font-weight: 700;
  }
}

.no-edit-right {
  user-select: none !important;
  cursor: default !important;
}
