<section class="try-outs">
  <h1>Anmeldung</h1>
  <h2>UserName</h2>
  <h3>Entwicklerteam</h3>
  <div class="edit-buttons">
    <button>Bearbeiten</button>
    <button>Speichern</button>
  </div>
  <div class="input-elements">
    <div class="input-box mail">
      <input type="email" placeholder="email eintippern" />
    </div>

    <div class="input-box pw">
      <input type="password" placeholder="pw eintippern" />
    </div>
  </div>

  <div class="btn-elements">
    <button>buttonFull</button>
    <button>buttonEmpty</button>
    <button>buttonNoBorder</button>
    <button>buttonNoBg</button>
    <button>buttonDisabled</button>
    <button>
      <img src="./assets/icons/start/google.svg" alt="google-logo" /> Login with
      Google
    </button>
  </div>

  <div class="checkbox-elements">
    <div class="checkbox-box">
      <input type="checkbox" id="square-checkbox" class="square-checkbox" />
      <span>square Checkbox</span>
    </div>

    <div class="checkbox-box">
      <input type="checkbox" id="round-checkbox" class="round-checkbox" />
      <span>round Checkbox</span>
    </div>
  </div>

  <div class="online-status">
    <div class="avatar">
      <img src="./assets/img/avatar-big/avatar-1.png" alt="" />
    </div>
    <div class="avatar">
      <img src="./assets/img/avatar-big/avatar-2.png" alt="" />
    </div>
  </div>
  <div class="icon-elements">
    <div class="icon-box">
      <img class="icon write" src="./assets/icons/wsm/ws-write.svg" alt="" />
    </div>
    <div class="icon-box">
      <img
        class="icon add-channel"
        src="./assets/icons/wsm/add-channel-2.svg"
        alt=""
      />
    </div>
  </div>

  <div class="hover-container">
    <button class="hover-tryout" popovertarget="hover-box" id="trigger">
      Hover Me!
    </button>
  </div>

  <div id="hover-box" popover>
    Works! <br />
    Works! <br />
    Works!
  </div>
</section>
