<main class="message-ctn">
    <div>
        <img src="assets/icons/start/choose-avatar/choose-avatar-3.svg" alt="">
    </div>
    <section>
            <span>Noah Braun</span>
            <p>Welche Version von Angular ist die aktuellste?</p>
            @if(hasRection){
                <div class="message-reactions">
                    <div>
                        <img src="./assets/icons/chat/emoji/rocket.svg" alt="">
                        <span>1</span>
                    </div>
                    <div>
                        <img src="./assets/icons/chat/emoji/check-green.svg" alt="">
                        <span>1</span>
                    </div>
                    <img src="./assets/icons/chat/message-hover-menu/add-reaction.svg" alt="">
                </div>
            }
            <div class="message-info">
                <a>
                    <span>2</span>
                    <span>Antworten</span>
                </a>
                <div>
                    <span>letzte Antwort</span>
                    <span>14:56</span>
                </div>
            </div>
            
    </section>
</main>