.message-ctn {
    display: flex;
    padding: 0.625rem 0rem 0.625rem 2.8125rem;
    gap: 1.875rem;

    >section {
        display: flex;
        flex-direction: column;
        gap: .5rem;


        >span {
            font-size: 1.125rem;
            font-weight: 700;

            &:hover {
                color: #444DF2;
            }
        }

        >p {
            margin: 0;
            padding: 15px;
            border-radius: 0 1.875rem 1.875rem 1.875rem;
            background-color: #ECEEFE;
        }

        .message-reactions {
            display: flex;
            gap: 10px;

            >div {
                padding: 5px 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: 1px solid #ADB0D9;
                border-radius: 20px;
            }

            >img {
                &:hover {
                    content: url(../../../../assets/icons/chat/message-hover-menu/add-reaction-hover.svg);
                }
            }
        }

        >div {
            display: flex;
            gap: 1.25rem;

            >a {
                display: flex;
                gap: 0.375rem;
                font-size: 1.125rem;
                color: #535AF1;
                min-width: 6.875rem;

                &:hover {
                    transition: all .100s ease-out;
                    font-weight: 700;
                    color: #444DF2;
                }
            }

            >div {
                >span {
                    font-size: 0.875rem;
                    font-weight: 400;
                }
            }
        }
    }

    &:hover {
        transition: all 100ms ease-out;
        cursor: pointer;
        background-color: #ECEEFE;

        >section {
            >p {
                background-color: #FFFFFF;
            }

            .message-reactions {
                >div {
                    background-color: #FFFFFF;

                    &:hover{
                        border-color: #444DF2;
                    }
                }
            }
        }
    }

}

:host(.message-from-user) {
    .message-ctn {
        flex-direction: row-reverse;
        padding: .625rem 2.8125rem .625rem 0;

        >section {

            >span {
                text-align: end;
            }

            >p {
                border-radius: 1.875rem 0 1.875rem 1.875rem;
            }

            .message-reactions {
                display: flex;
                justify-content: flex-end;
            }

            .message-info {
                display: none;
            }
        }
    }

}