main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 64rem;
  height: 100%;
  padding: 1.5rem 1.5rem 1.5rem 2.875rem;
  background-image: linear-gradient(270deg, #444df23d 5%, #fff 95%);

  > ul {
    margin: 0;
  }
}
