<main>
    <h2>Willkommen bei DABubble!</h2>
    <p>DABubble ist eine moderne Chat-App, die entwickelt wurde, um dir eine effiziente und intuitive Möglichkeit zur
        Kommunikation in Channels und per Direktnachricht zu bieten. Ob du nun in einem Channel mit deinem Team
        zusammenarbeitest oder eine private Nachricht an einen Kollegen senden möchtest, DABubble bietet dir die
        Flexibilität und Funktionalität, die du benötigst.</p>

    <h3>Was kannst du mit DABubble tun?</h3>

    <ul>
        <li>
            Channels erstellen und kommunizieren: Erstelle Channels für spezifische Themen, Projekte oder Teams und
            bleibe immer auf dem Laufenden.
        </li>
        <li>Direktnachrichten: Möchtest du eine persönliche Konversation führen? Nutze unsere
            Direktnachrichten-Funktion, um privat mit anderen Mitgliedern in Kontakt zu treten.</li>
        <li>Reaktionen mit Emojis: Drücke deine Reaktionen auf Nachrichten mit einer Vielzahl von Emojis aus und füge
            eine persönliche Note hinzu.</li>
        <li>Suchfunktion: Finde schnell und einfach bestimmte Nachrichten oder User mithilfe unserer leistungsstarken
            Suchfunktion.</li>
    </ul>

    <h3>Technologie hinter DABubble</h3>

    <p>DABubble wurde mit der neuesten Technologie entwickelt, um dir ein reibungsloses und sicheres Erlebnis zu bieten.
        Die App basiert auf dem robusten Framework Angular (Version 17) und nutzt Firebase als Backend für die
        Datenverwaltung und -speicherung. Die Entwicklung erfolgte unter Verwendung von objektorientierter
        Programmierung und TypeScript, was für eine hohe Code-Qualität und Wartbarkeit sorgt. Außerdem bietet Firebase
        integrierte Authentifizierungs- und Storage-Funktionen, um deine Daten sicher und zugänglich zu halten.
        <br>
        <br>
        Wir wünschen dir viel Spaß und Erfolg bei der Nutzung von DABubble! Wenn du Fragen hast, stehen wir dir
        jederzeit zur Verfügung.
    </p>
</main>