@import "../../../styles.scss";
@import "../../../mixins.scss";

section {
  @include flex(center, stretch);
  flex-direction: column;
  gap: 0.875rem;
  max-width: 29rem;
  overflow: hidden;

  .avatar {
    align-self: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }

  .name {
    @include nunito(1.5, 700);
    color: black;
    text-align: center;
  }

  .infospan {
    align-self: center;
    @include nunito(1, 400);
    max-width: 22ch;

    @media (width <= 425px) {
      max-width: unset;
    }
  }

  .avatar-list {
    @include flex(center, center);
    flex-wrap: wrap;
    gap: 0.325rem;

    @media (width < 450px) {
      width: 80%;
      margin: 0 auto;
    }

    img {
      width: 4rem;
      height: 4rem;
      cursor: pointer;
    }
  }

  .or-separator {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
      @include nunito(1.25, 400);
    }

    > div {
      flex-grow: 1;
      height: 1px;
      background-color: $vert-spacer;
    }
  }

  .choose-picture {
    @include flex(space-between, center);
    @include nunito(1.5, 400);

    @media (width <= 425px) {
      flex-direction: column;
      gap: 1rem;
    }

    input {
      display: none;
    }

    .filerequest {
      @include buttonEmpty;
      margin-left: 1rem;

      @media (width <= 425px) {
        margin: 0;
      }
    }
  }

  .action {
    @include flex(space-between, center);
    align-self: flex-end;
    gap: 1rem;
    height: 3.3rem;

    @media (width <= 425px) {
      align-self: center;
      margin-top: 1rem;
    }
    @media (width <= 400px) {
      flex-direction: column;
      height: fit-content;
    }

    img {
      align-self: center;
    }

    .errorspan {
      flex-grow: 1;
      @include nunito(1, 400, $error);
      text-align: left;
    }
    .success {
      @include buttonFull;
    }

    .undo {
      @include buttonNoBg;
    }
  }
}
