@import "../../../styles.scss";
@import "../../../mixins.scss";

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    width: 38rem;
    height: fit-content;
    padding: 2rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 2px 10px 0px #00000014;

    .title {
        color: $accent;
        text-align: center;
    }

    .avatar {
        align-self: center;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }

    .name {
        color: black;
        text-align: center;

        font-size: 2rem;
        font-family: Nunito;
        font-weight: 700;
    }

    .infospan {
        @include nunito(1.5, 400);
    }

    .avatar-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;

        img {
            cursor: pointer;
            width: 4rem;
            height: 4rem;
        }
    }

    .choose-picture {
        @include nunito(1.5, 400);

        input {
            display: none;
        }

        .filerequest {
            margin-left: 1rem;
            @include buttonEmpty;
        }
    }

    .action {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        .errorspan {
            flex-grow: 1;
            text-align: left;
            @include nunito(1, 400, #ED1E79);
        }

        button {
            @include buttonFull;
        }
    }

}