<section>
    <span class="title nunito-46-700">Wähle deinen Avatar</span>
    <img class="avatar" src="{{ selectedAvatarPicture }}" alt="">
    <span class="name">{{ userservice.currentUser?.name}}</span>
    <span class="infospan">Aus der Liste wählen</span>
    <div class="avatar-list">
        @for(avatar of avatarList; track avatarList) {
        @if(avatar.id != 0) {
        <img (click)="setAvatar(avatar.id)" src="{{ avatar.img_name}}" alt="">
        }
        }
    </div>
    <div class="choose-picture">
        <span class="infospan">eigenes Bild hochladen</span>
        <label for="choosepicture">
            <input (change)="loadFileToViewInImg($event)" type="file" name="choosepicture" id="choosepicture">
            <span class="filerequest">Datei hochladen</span>
        </label>
    </div>
    <div class="action">
        @if(uploading) {
        <span class="infospan">Läd hoch ...</span>
        }
        <button (click)="submitChooseAvatar($event)">Weiter</button>
    </div>
</section>