@import "../../../../styles.scss";
@import "../../../../mixins.scss";

// ##############################

.profile {
  @include flex(flex-end, center);
  width: fit-content;
  gap: 1.25rem;
  cursor: pointer;

  span.username {
    @include fontSizer(32, 700, black);
  }

  span,
  img {
    transition: $transition-standard;
  }

  &:hover span {
    color: $primary;
  }

  &:hover img.icon {
    content: url("../../../../assets/icons/modals/expand-down-hover.svg");
  }
}

#profile-popover {
  display: none;
  top: 7.5rem;
  margin: 0 1.25rem 0 auto;
  min-width: 15.5rem;
  width: fit-content;
  height: fit-content;
  max-height: 45rem;
  padding: 1.25rem;
  border: none;
  border-radius: 1.875rem 0 1.875rem 1.875rem;
  box-shadow: $profile-box-shadow;
  opacity: 0;
  transition: $transition-popover;

  .choose-action {
    @include flex(center, center);
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;

    button {
      @include buttonNoBorder(100%);
      @include fontSizer(24, 600, black);
    }
  }

  .profile-details {
    @include flex(center, center);
    flex-direction: column;
    min-width: 20rem;

    .edit-username {
      @include flex(space-between, center);
      width: 100%;

      span.username {
        container-type: inline-size;
        @include fontSizer(32, 700, black);
        line-height: 100%;

        @container (max-width: 65%) {
          max-width: 50%;
          text-wrap: balance;
          padding: 0;
          margin: 0;

          .edit-username {
            align-items: flex-start !important;
          }
        }
      }

      button.edit {
        @include buttonFontWeightOnly;
        width: fit-content;
        height: fit-content;
      }
    }

    .online-status {
      @include flex(flex-start, center);
      width: 100%;
      gap: 1rem;
      margin: 1rem 0 2.5rem;

      .online-status-indicator {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: var(--status-color); // <--- dynamisch gesetzt
      }

      span {
        @include fontSizer(20, 600);
      }
    }

    .usermail {
      @include flex(flex-start, flex-start);
      width: 100%;
      gap: 1.25rem;

      .mail-adress {
        @include flex(center, flex-start);
        flex-direction: column;
        width: 100%;
        gap: 1rem;

        span {
          @include fontSizer(20, 700, black);
        }

        a {
          color: $mail;
        }
      }
    }
  }

  .profile-edit {
    @include flex(center, center);
    flex-direction: column;
    min-width: 20rem;

    form {
      width: 100%;
    }

    .edit-box {
      @include flex(flex-start, flex-start);
      flex-direction: column;
      width: 100%;
      gap: 1.25rem;

      .edit {
        @include flex(flex-start, flex-start);
        flex-direction: column;
        width: 100%;
        gap: 0.325rem;
      }

      .input-label {
        @include flex(flex-start, center);
        width: 100%;
        gap: 1.25rem;

        span {
          @include fontSizer(20, 700, black);
        }
      }

      .input-box {
        @include inputBox(100%, #adb0d9, $secondary, $secondary, false);

        &.google {
          border-color: $disabled !important;

          &:hover {
            border-color: $disabled !important;
          }
        }

        input {
          @include input;
          @include fontSizer(18, 400, black);
          font-size: 1rem;
          padding: 0.75rem 0;

          &.google {
            color: $disabled;
            pointer-events: none;
          }
        }
      }
    }

    .btn-box {
      @include flex(center, center);
      width: 100%;
      gap: 2rem;
      margin-top: 1rem;

      button:first-of-type {
        @include buttonEmpty;
      }

      button:last-of-type {
        @include buttonFull;
      }
    }

    .error-message,
    .google-info-message {
      @include fontSizer(14, 400, $error);
      height: 0.875rem;
      width: 100%;
      opacity: 1;
      margin-top: -0.325rem;
      // padding-left: 1.5rem;
      text-align: center;
      transition: 0.25s opacity ease-in-out;
    }

    @starting-style {
      .error-message {
        opacity: 0;
      }
    }
  }

  .avatar-box {
    cursor: pointer;
  }

  .icon-box {
    @include iconBox;

    &:hover img {
      content: url("../../../../assets/icons/chat/general/close-hover.svg");
    }
  }

  .top {
    @include flex(space-between, center);
    width: 100%;
    height: fit-content;

    .modal-title {
      @include fontSizer(24, 700, black);
    }
  }
}

::backdrop {
  background-color: #00000066;
}

#profile-popover:popover-open {
  opacity: 1;
  @include flex(center, center);
  flex-direction: column;
}

@starting-style {
  #profile-popover:popover-open {
    opacity: 0;
  }
}
