<button
  class="profile"
  popovertarget="profile-popover"
  (click)="resetPopoverState()"
>
  <span class="username">{{ userservice.currentUser?.name }}</span>

  <div
    class="avatar"
    appAvatar
    [user]="userservice.currentUser!"
    context="outer-profile"
  ></div>
  <div class="icon">
    <img
      src="./assets/icons/modals/profile/expand.svg"
      alt="open profile menue"
    />
  </div>
</button>

<div
  id="profile-popover"
  popover
  [class.fullscreen]="showProfileDetails || editMode"
>
  @if (!showProfileDetails) {
  <div class="choose-action">
    <button (click)="toggleProfileDetails()">Profil</button>
    <button (click)="logoutUser()">Logout</button>
  </div>
  } @else { @if (!editMode) {

  <div
    class="profile-details"
    [class.fullscreen]="showProfileDetails && !editMode"
  >
    <div class="top">
      <span class="modal-title">Profil</span>
      <div class="icon-box" (click)="showProfileDetails = false">
        <img src="./assets/icons/chat/general/close.svg" alt="Close" />
      </div>
    </div>

    <div
      class="avatar"
      appAvatar
      [user]="userservice.currentUser!"
      context="inner-profile"
    ></div>

    <div class="edit-username">
      <span class="username">{{ userservice.currentUser?.name }}</span>
      <button class="edit" (click)="toggleEditMode()">Bearbeiten</button>
    </div>

    <div class="online-status">
      <div
        class="online-status-indicator"
        [style]="{
          '--status-color': userservice.currentUser?.online
            ? onlineColor
            : offlineColor
        }"
      ></div>

      <span
        [style]="{
          color: userservice.currentUser?.online ? onlineColor : offlineColor
        }"
      >
        {{ userservice.currentUser?.online ? "Aktiv" : "Offline" }}
      </span>
    </div>

    <div class="usermail">
      <img src="./assets/icons/start/mail.svg" alt="email" />
      <div class="mail-adress">
        @if(!isGoogleAccount && !userservice.currentUser?.emailVerified) {
        <span>Email-Adresse nicht verifiziert</span>
        } @else {
        <span>Email-Adresse</span>
        } @if (!isGuestAccount) { @if(!isGoogleAccount &&
        !userservice.currentUser?.emailVerified) {
        <div class="mail-verify">
          <button
            class="mail-verify-link"
            (click)="userservice.sendEmailVerificationLink()"
          >
            Link erneut zuschicken
          </button>
        </div>
        }
        <span class="mail-span">{{ userservice.currentUser?.email }}</span>
        } @else {
        <span class="mail-span">gast&#64;da-bubble.de</span>
        }
      </div>
    </div>
  </div>

  } @else if (showChooseAvatarForm) {
  <div class="top">
    <span class="modal-title">Deinen Avatar bearbeiten</span>
  </div>

  <app-chooseavatar
    id="choose-avatar"
    (clickSuccess)="closeChooseAvatarComponent()"
  ></app-chooseavatar>

  } @else {
  <div class="profile-edit" [class.fullscreen]="editMode">
    <div class="top">
      <span class="modal-title">Dein Profil Bearbeiten</span>
      <div class="icon-box" (click)="toggleEditMode()">
        <img src="./assets/icons/chat/general/close.svg" alt="Close" />
      </div>
    </div>
    <!-- todo: -->
    <div
      class="img-box"
      (click)="!isGoogleAccount && showChooseAvatarComponent()"
    >
      <div
        [class.restricted]="isGoogleAccount"
        class="avatar"
        appAvatar
        [user]="userservice.currentUser!"
        context="inner-profile"
      ></div>
    </div>

    <form [formGroup]="profileForm" (ngSubmit)="saveChanges()">
      <div class="edit-box">
        <div class="edit">
          <div class="input-label">
            <img
              src="./assets/icons/modals/profile/person_circle.svg"
              alt="person placeholder"
            />
            <span>Vollständiger Name</span>
          </div>
          <div class="input-box">
            <input
              type="text"
              formControlName="name"
              placeholder="Dein Name hier"
            />
          </div>

          <div class="error-message">
            <span
              *ngIf="
                profileForm.get('name')?.invalid &&
                (profileForm.get('name')?.dirty ||
                  profileForm.get('name')?.touched)
              "
            >
              <ng-container
                *ngIf="profileForm.get('name')?.errors?.['required']"
              >
                Name ist erforderlich.
              </ng-container>
              <ng-container
                *ngIf="profileForm.get('name')?.errors?.['invalidName']"
              >
                Bitte gib deinen vollständigen Namen ein.
              </ng-container>
            </span>
          </div>
        </div>

        <div class="edit">
          <div class="input-label">
            <img src="./assets/icons/modals/profile/mail.svg" alt="" />
            <span>E-mail Adresse</span>
          </div>
          <div
            [class.restricted]="isGoogleAccount || isGuestAccount"
            class="input-box"
          >
            <input
              [class.restricted]="isGoogleAccount || isGuestAccount"
              type="email"
              formControlName="email"
              placeholder="Deine Mailadresse hier"
              [readOnly]="isGoogleAccount || isGuestAccount"
            />
          </div>

          @if (isGoogleAccount || isGuestAccount) {
          <div class="restricted-info-message">
            <span>Mail-Adresse nicht editierbar.</span>
          </div>

          }

          <div class="error-message">
            <span
              *ngIf="
                profileForm.get('email')?.invalid &&
                (profileForm.get('email')?.dirty ||
                  profileForm.get('email')?.touched)
              "
            >
              <ng-container
                *ngIf="profileForm.get('email')?.errors?.['required']"
              >
                E-Mail ist erforderlich.
              </ng-container>
              <ng-container
                *ngIf="profileForm.get('email')?.errors?.['invalidEmail']"
              >
                Bitte gib eine gültige E-Mail-Adresse ein.
              </ng-container>
            </span>
          </div>

          @if(emailChanged()) {
          <div class="input-box verify-pw-change">
            <input
              [(ngModel)]="reauthpassword"
              [ngModelOptions]="{ standalone: true }"
              type="password"
              placeholder="Passwort"
            />
          </div>
          <span class="error-message">{{ reauthpasswordinfo }}</span>
          }
        </div>
      </div>
      <div class="btn-box">
        <button type="button" (click)="toggleEditMode()">Abbrechen</button>
        <button type="submit" [disabled]="submitButtonDisable()">
          Speichern
        </button>
      </div>
    </form>
  </div>
  } }
</div>
