@import "../../../../styles.scss";
@import "../../../../mixins.scss";

section.try-outs {
  @include flex(center, flex-start);
  flex-wrap: wrap;
  gap: 0.5rem;
  transform: scale(1);

  .input-elements {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    gap: 0.5rem;

    .input-box {
      @include inputBox;
      background: $background;

      input {
        position: relative;
        @include input;
      }
    }

    .mail::before {
      background-image: url("../../../../assets/icons/start/mail.svg");
    }

    .pw::before {
      background-image: url("../../../../assets/icons/start/lock.svg");
    }
  }

  .btn-elements {
    @include flex(center, center);
    flex-wrap: wrap;
  }

  button {
    margin: 0.5rem 0.25rem;
  }

  button:nth-of-type(1) {
    @include buttonFull;
  }

  button:nth-of-type(2) {
    @include buttonEmpty;
  }

  button:nth-of-type(3) {
    @include buttonNoBorder;
  }

  button:nth-of-type(4) {
    @include buttonNoBg;
  }

  button:nth-of-type(5) {
    @include buttonDisabled;
  }

  button:nth-of-type(6) {
    @include buttonGoogle;
  }
}

.checkbox-elements {
  @include flex(center, center);
  gap: 2rem;
  width: 100%;
  height: fit-content;

  .checkbox-box {
    @include flex(center, center);
    gap: 0.5rem;
  }

  .square-checkbox {
    @include square-checkbox();
    align-self: center;
  }

  .round-checkbox {
    @include round-checkbox();
  }
}

.online-status {
  @include flex(center, center);
  gap: 2rem;

  .avatar {
    @include avatarStatusThumbnail($online);
  }
}

.icon-elements {
  @include flex(center, center);
  gap: 1rem;
  border: 1px solid $disabled;
  border-radius: 0.5rem;
  padding: 0.5rem 0.875rem;

  .icon-box {
    @include iconBox;

    .write:hover {
      content: url("../../../../assets/icons/wsm/ws-write-hover.svg");
    }

    .add-channel:hover {
      content: url("../../../../assets/icons/wsm/add-channel-hover.svg");
    }
  }
}
