<main class="chatview-main-ctn">
    <section class="chatview-header">
        <div>
            <button>
                <span> # Office-team</span>
                <img src="./assets/icons/modals/expand-down.svg" alt="arrow-down">
            </button>
        </div>
        <div class="member-avatar-overview">
            <div>
                <img class="member-avatar" src="assets/icons/start/choose-avatar/ choose-avatar-1.svg" alt="member-avatar">
                <img class="member-avatar" src="assets/icons/start/choose-avatar/ choose-avatar-2.svg" alt="member-avatar">
                <img class="member-avatar" src="assets/icons/start/choose-avatar/ choose-avatar-5.svg" alt="member-avatar">
            </div>
            <span>6</span>
            <div class="add-member-icon-ctn">
                <img src="./assets/icons/chat/general/add-to-channel.svg" alt="add-member-icon">
            </div>
        </div>

    </section>
    <section class="chatview-content">
        <div class="chat-messages-content">
            @for (item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]; track $index) {
            <app-message-date></app-message-date>
            <app-message></app-message>
            }
        </div>
        <app-message-textarea></app-message-textarea>
    </section>
</main>