@import "../../../../../styles.scss";
@import "../../../../../mixins.scss";

$p-left: clamp(1.25rem, 3.472vw + -1.354rem, 2.8125rem);
$p-right: clamp(1.25rem, -2.778vw + 3.333rem, 0rem);
$creator-fs: clamp(1rem, 0.278vw + 0.792rem, 1.125rem);
$reactions-gap: clamp(0.325rem, 0.667vw + -0.175rem, 0.625rem);

.errorspan {
  @include nunito(0.875, 400, $error);
  margin-left: auto;
  margin-right: 1rem;
}

.emoji-div {
  @include nunito(0.875, 400, black);
}

.self-reaction {
  background-color: #fff;
  border-radius: 1000px;
  border: 2px solid $selfReaction;
}

.other-reaction {
  border-radius: 1000px;
  background-color: white;
  border: $default-border;
}

.reaction-btn {
  position: relative;
  width: fit-content;

  &:hover {
    .reaction-hover-info {
      transform: translateY(0);
      box-shadow: $profile-box-shadow;
      opacity: 1;
      visibility: visible;
    }
  }
}

.reaction-hover-info {
  position: absolute;
  z-index: 10;
  bottom: 112.5%;
  left: 50%;
  transform: translateY(-20px);
  @include flex(center, center);
  width: clamp(14ch, 100%, 32ch);

  padding: 0.325rem 0.625rem;
  background-color: $secondary;
  border-radius: 1rem 1rem 1rem 0;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: $transition-standard;

  p {
    text-align: left;
  }

  .emoji-tag {
    font-size: 0.875rem;
  }
}

.message-attachments {
  @include nunito(1, 400, black);
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  margin-top: 0.625rem;

  .type-pdf {
    width: 5rem;
    height: 5rem;
  }

  .type-image {
    height: auto;
    width: 10rem;
  }

  .attachment {
    position: relative;
    @include flex(flex-start, stretch);
    flex-direction: column;
    padding: 0.3rem 0.625rem;
    border-radius: 0.625rem;
    background-color: #f5f5f5;
    color: #686868;

    .attachment-action-btn {
      @include iconBox;

      &.trash-icon:hover img {
        transform: scale(1.1);

        filter: invert(26%) sepia(58%) saturate(5610%) hue-rotate(320deg)
          brightness(94%) contrast(98%) !important;
      }

      &.download-icon:hover img {
        transform: scale(1.1);

        filter: invert(26%) sepia(37%) saturate(4864%) hue-rotate(231deg)
          brightness(95%) contrast(100%);
      }
    }
  }
}

.message-ctn {
  display: flex;
  padding: 0.625rem $p-right 0.625rem var(--message-padding-left, $p-left);
  gap: 1.875rem;
  position: relative;
  transition: $transition-popover;

  .message-avatar-ctn {
    .message-creator-avatar {
      cursor: pointer;
    }

    > span {
      display: none;
    }
  }

  > section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 70%;

    .message-header {
      @include flex(normal, center);
      gap: 1.25rem;

      > .message-creator-name {
        font-size: $creator-fs;
        font-weight: 700;
        text-wrap: balance;
        text-align: left;

        &:hover {
          color: $accent;
        }
      }

      > span {
        font-size: 0.875rem;
        font-weight: 400;
        color: #686868;
      }
    }

    > .message-text {
      margin: 0;
      padding: 15px;
      border-radius: 0 1.875rem 1.875rem 1.875rem;
      background-color: $background;
      max-width: max-content;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .message-reactions {
      display: flex;
      gap: $reactions-gap;
      flex-wrap: wrap;

      > button {
        @include flex(center, center);
        gap: 0.625rem;
      }

      > img {
        &:hover {
          content: url(../../../../../assets/icons/chat/message-hover-menu/add-reaction-hover.svg);
        }
      }
    }

    > .message-info {
      @include flex(flex-start, center);
      flex-wrap: wrap;
      column-gap: 1.25rem;
      row-gap: 0.25rem;
      width: 100%;

      div {
        @include flex(normal, center);
        flex-wrap: wrap;
        column-gap: 1.25rem;
        width: 100%;

        > a {
          display: flex;
          gap: 0.375rem;
          min-width: 6.875rem;
          font-size: 1.125rem;
          color: $secondary;

          &:hover {
            transition: all 0.1s ease-out;
            font-weight: 700;
            color: $accent;
          }
        }

        > span {
          font-size: 0.875rem;
          font-weight: 400;
        }
      }

      .new-messages-count {
        color: $secondary;
      }

      > span {
        font-size: 0.875rem;
        font-weight: 400;
      }
    }
  }

  &:not(.message-from-user):hover {
    transition: all 100ms ease-out;
    background-color: $background;

    > section {
      > p {
        background-color: #ffffff;
      }
    }
  }

  &:hover {
    > section {
      .self-reaction {
        &:hover {
          border: 2px solid $selfReactionDelete;
        }
      }

      .other-reaction {
        background-color: #ffffff;

        &:hover {
          border-color: $accent;
        }
      }
    }
  }
}

.message-from-user {
  flex-direction: row-reverse;
  padding: 0.625rem $p-left 0.625rem $p-right;

  > section {
    align-items: flex-end;

    .message-header {
      flex-direction: row-reverse;

      > span {
        text-align: end;
        text-wrap: nowrap;
      }

      .message-creator-name {
        cursor: pointer;
      }
    }

    > .message-text {
      border-radius: 1.875rem 0 1.875rem 1.875rem;
      background-color: $primary;
      color: white;
      white-space: pre-wrap;
      word-break: break-word;
    }

    .message-reactions {
      @include flex(flex-end, normal);
      flex-wrap: wrap;
    }

    .message-info {
      justify-content: flex-end;
    }
  }

  .interact-ctn-popover {
    left: 4.8125rem;
    right: unset;

    > section {
      #edit-message-icon {
        display: flex;
      }
    }
  }

  .attachment-ctn-popover {
    left: unset !important;
    right: -2.5rem !important;
  }

  .interact-ctn-popover-slide-out-animation {
    transform: translateX(2.5rem);
  }

  .interact-ctn-popover-slide-in-animation {
    transform: translateX(-2.5rem);
  }

  &:not(section .message-header .message-creator-name):hover {
    transition: all 100ms ease-out;
    cursor: default !important;
    background-color: $background;
  }
}

.interact-ctn-popover {
  position: absolute;
  top: -1.25rem;
  right: 5.8125rem;
  height: fit-content;
  padding: 0.1875rem 0.325rem 0.1875rem 0.25rem;
  background-color: white;
  border-radius: 1.5625rem 1.5625rem 0 1.5625rem;
  border: 1px solid #adb0d9;

  > section {
    @include flex(normal, center);
    gap: 0.3125rem;

    > div {
      @include flex(center, center);
      padding: 8px;
      border-radius: 20px;
    }

    #edit-message-icon {
      display: none;
    }
  }
}

.interact-ctn-popover-slide-out-animation {
  transform: translateX(-2.5rem);
  transition: $transition-popover;
  opacity: 0;
}

.interact-ctn-popover-slide-in-animation {
  display: block;
  transform: translateX(2.5rem);
  transition: $transition-popover;
  opacity: 1;
}

.attachment-ctn-popover {
  left: -3rem !important;
  right: unset !important;
}

.button-ctn {
  @include flex(center, center);
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  transition: all 0.125s ease-in-out;

  &:hover {
    background-color: $background;
  }
}

#add-reaction-icon:hover > img {
  content: url("../../../../../assets/icons/chat/message-hover-menu/add-reaction-hover.svg");
}

#comment-message-btn:hover > img {
  content: url("../../../../../assets/icons/chat/message-hover-menu/comment-hover.svg");
}

#edit-message-icon:hover > img {
  content: url("../../../../../assets/icons/wsm/ws-write-hover.svg");
}

.toggle-edit-message-popup {
  display: flex;
  transition: $transition-popover;
  opacity: 1;
}

.message-editor {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 75%;
  height: 100%;
  min-height: 180px;
  padding: 1.25rem;
  background-color: white;
  border-radius: 1.25rem;

  .input-message-toolbar {
    @include flex(space-between, center);
    container-name: bottomtoolbar;
    container-type: inline-size;
  }

  .input-message-toolbar-right {
    @include flex(flex-start, center);
  }
}

#emoji-picker-icon:hover {
  > img {
    content: url("../../../../../assets/icons/chat/write-message/emoji-picker-hover.svg");
  }
}

.editor-modus-bg-color {
  background-color: $background;
}

.message-editor-button {
  @include flex(center, center);
  gap: 1rem;

  .action-btn {
    &:hover {
      img {
        transform: scale(1.1);
        filter: $iconFilterPurple;
      }
    }
  }

  #btn-ok {
    width: 1.7rem;
    height: 1.7rem;
  }

  .abort-btn {
    @include buttonEmpty();
  }

  .save-btn {
    @include buttonFull();
  }
}

:host(.chat-view) {
  .message-from-same-user {
    .message-avatar-ctn span {
      display: flex;
      font-size: 0.875rem;
      font-weight: 400;
      color: #686868;
    }

    .message-creator-avatar {
      display: none;
    }

    > section {
      .message-header {
        display: none;
      }
    }
  }
}

:host:not(.chat-view) {
  #message-answer-info {
    display: none;
  }
}
