<main (mouseenter)="isHovered = true" (mouseleave)="isHovered = false; showEditMessagePopup = false" [ngClass]="{'message-ctn':true, 
    'message-from-user': messagefromUser, 
    'editor-modus-bg-color':messageEditorModus, 
    'message-from-same-user': messageData.previousMessageFromSameUser}">
    <div class="message-creator-avatar">
        <img src="assets/icons/start/choose-avatar/choose-avatar-3.svg" alt="">
    </div>
    @if (!messageEditorModus) {
    <section>
        <div [ngClass]="{'message-header':true}">
            <span>{{userService.getUserByID(messageData.creatorID)?.name}}</span>
            <span>{{ getFormatedMessageTime(messageData.createdAt) }}</span>
        </div>
        <p>{{ messageData.content }}</p>
        @if(hasReaction){
        <div class="message-reactions">
            @for (reaction of messageData.emojies; track $index) {
            @if(reaction.length != 0){
            <button
                (click)="messageService.toggleReactionToMessage(messageData, reaction.type); checkForMessageReactions()">
                <img src="./assets/icons/chat/emoji/{{reaction.type}}.svg" alt="">
                <span>{{ reaction.userIDs.length }}</span>
            </button>
            }
            }
            <img src="./assets/icons/chat/message-hover-menu/add-reaction.svg" alt="">
        </div>
        }
        <div class="message-info">
            @if(messageData.answerCount > 0){
            <div>
                <a>
                    <span>{{ messageData.answerCount }}</span>
                    <span>Antworten</span>
                </a>
                <span>letzte Antwort: 14:56</span>
            </div>
            }
            @if(updatedMessage.edited){
            <span> Bearbeitet at {{ getFormatedMessageTime(messageData.editedAt) }}</span>
            }
        </div>
    </section>
    }@else {
    <div (mouseenter)="isHovered = false" class="message-editor">
        <textarea [(ngModel)]="updatedMessage.content"></textarea>
        <div class="input-message-toolbar">
            <div id="emoji-picker-icon" class="button-ctn">
                <img src="./assets/icons/chat/write-message/emoji-picker.svg" alt="+">
            </div>
            <div class="message-editor-button">
                <button class="abort-btn" (click)="toggleMessageEditor()">Abbrechen</button>
                <button class="save-btn" (click)="editMessage(messageData, updatedMessage)">Speichern</button>
            </div>
        </div>
    </div>

    }


    <div [ngClass]="{ 'interact-ctn-popover-slide-out-animation': !isHovered, 
        'interact-ctn-popover-slide-in-animation': isHovered, 
        'interact-ctn-popover': true }">
        <section>
            <div (click)="messageService.toggleReactionToMessage(messageData, 'check-green'); checkForMessageReactions()"
                class="button-ctn">
                <img src="./assets/icons/chat/emoji/check-green.svg" alt="">
            </div>
            <div (click)="messageService.toggleReactionToMessage(messageData, 'celebration'); checkForMessageReactions()"
                class="button-ctn">
                <img src="./assets/icons/chat/emoji/celebration.svg" alt="">
            </div>
            <div class="button-ctn">
                <img id="add-reaction-icon" src="./assets/icons/chat/message-hover-menu/add-reaction.svg" alt="">
            </div>
            <div class="button-ctn">
                <img id="comment-icon" src="./assets/icons/chat/message-hover-menu/comment.svg" alt="">
            </div>
            <div (click)="toggleEditMessagePopup()" id="edit-message-icon" class="button-ctn" id="edit-message-icon">
                <img src="./assets/icons/chat/message-hover-menu/more.svg" alt="">
            </div>
        </section>
        <div (click)="toggleMessageEditor()" class="edit-message-ctn"
            [ngClass]="{'toggle-edit-message-popup':showEditMessagePopup}">
            <span>Nachricht Bearbeiten</span>
        </div>
    </div>
</main>