@import "../../../mixins.scss";
@import "../../../styles.scss";

section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .picker-list {
    position: absolute;
    z-index: 1000;
    bottom: 105%;
    border-radius: 1.5rem 1.5rem 0 1.5rem;
    border: 1px solid #adb0d9;
    background-color: white;
    max-height: 13rem;
    overflow-y: auto;
    box-shadow: $modal-box-shadow;

    .picker-close {
      display: flex;
      justify-content: center;
      align-items: center;
      @include iconBox;

      &:hover img {
        content: url("../../../assets/icons/chat/general/close-hover.svg");
      }
    }

    .picker-info {
      @include nunito(0.875rem, 600, black);
      position: sticky;
      z-index: 1010;
      top: 0;
      display: flex;
      padding: 0.3rem;
      flex-wrap: nowrap;
      justify-content: space-between;
      min-width: fit-content;
      width: 100%;
      border-bottom: 1px solid lightgray;
      background-color: white;

      .picker-use-info {
        padding: 0.3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;

        img {
          width: 1.1rem;
          height: 1.1rem;
        }
      }
    }

    .picker-item-list {
      padding: 0.3rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 0.5rem;

      .picker-item-select {
        border: 1px solid #adb0d9;
        background-color: $background;
      }

      .picker-item-nonselect {
        border: 1px solid transparent;
      }

      .picker-item {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        border-radius: 1000rem;
        cursor: pointer;
        padding: 0.3rem;

        .picker-item-name {
          font-size: 0.875rem;
          font-weight: 600;
          color: black;
        }

        &:hover {
          background-color: $background;
        }
      }
    }
  }

  quill-editor {
    transition: all 0.5s;
    width: 100%;
    overflow-y: auto;
    background-color: transparent;
    color: black;
    outline: none;
    border: none;
  }

  .editor-toolbar {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0;
    transition: all 0.2s;
    overflow: hidden;
    border: none;

    .quill-error {
      @include nunito(0.75rem, 600, $error);
    }

    .quill-message-length {
      @include nunito(0.75rem, 600, black);
    }

    span.ql-formats {
      margin-right: 0.325rem !important;
    }
  }

  .show-editor-toolbar {
    max-height: 3rem;
    border-bottom: 1px solid #adb0d9;
  }

  .hide-editor-toolbar {
    max-height: 0;
    border-bottom: 1px solid transparent;
  }
}
