<section>
    <button class="return" [routerLink]="['/']">zurück</button>
    <span class="headline">Konto erstellen</span>
    <span class="info">Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</span>
    <div class="input-div">
        <input type="text" placeholder="Name und Nachname">
    </div>
    <div class="input-div">
        <input type="text" placeholder="beispielname@email.com">
    </div>
    <div class="input-div">
        <input type="text" placeholder="password">
    </div>
    <div>
        <label>
            <input type="checkbox" name="" id="">
            <span>Ich stimme der <a href="">Datenschutzerklärung</a> zu</span>
        </label>
    </div>
    <div class="action">
        <button class="blue-btn">Weiter</button>
    </div>
</section>