// variables

$accent: #444df2;
$primary: #797ef3;
$secondary: #eceefe;

$disabled: #686868;
$error: #ed1e79;

$box-shadow: box-shadow(4px 4px 6px #00000033);
$filter-drop-shadow: drop-shadow(4px 4px 6px #00000033);

@import "./fonts.scss";

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border: none;
}

html {
  font-size: 16px;

  @media (width <= 768px) {
    font-size: 14px;
  }

  @media (width <= 375px) {
    font-size: 12px;
  }
}

button {
  cursor: pointer;
  border: unset;
  background-color: unset;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;

  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
