// variables

$accent: #444df2;
$primary: #797ef3;
$secondary: #eceefe;
$tertiary: #535af1;

$vert-spacer: #adb0d9;

$disabled: #686868;
$hover-grey: #e6e6e6;
$error: #ed1e79;
$active: #92c83e;

$box-shadow-45: 4px 4px 6px #00000033;
$drop-shadow-45: 4px 4px 6px #00000033;

$modal-box-shadow: 0px 2px 10px 0px #00000014;
$profile-box-shadow: 0px 6px 10px 0px #00000033;

$default-border: 1px solid #adb0d9;
$hover-border: 1px solid #797ef3;
$active-border: 1px solid #535af1;

$outline-hover: 4px solid #e6e6e6;
$outline-active: 4px solid #eceefe;

$border-online-status: 2px solid #fff;

@import "./fonts.scss";

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border: none;
}

html {
  font-size: 16px;

  @media (width <= 768px) {
    font-size: 14px;
  }

  @media (width <= 375px) {
    font-size: 12px;
  }
}

button {
  cursor: pointer;
  border: unset;
  background-color: unset;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;

  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
